<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div>
      <h1>
        Welcome to {{site}} site!
      </h1>
      <div>
        <input type="text" [(ngModel)]="name" class="form-control">
        <p>{{name}}</p>
      </div>
      <app-server></app-server>
      <app-servers></app-servers>
      <app-failure></app-failure>
      <app-success></app-success>
      <app-binding></app-binding>
      <app-directive></app-directive>
    </div>
  </div>
</div>
